Resources/Apps/DataAcces/DALCajero/Service References/ws_CatalogosAut/WS_CatalogosAUTService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://CatalogosAut/" targetNamespace="http://CatalogosAut/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ObtieneCuentasUsuario" type="tns:ObtieneCuentasUsuario" />
  <xs:element name="ObtieneCuentasUsuarioResponse" type="tns:ObtieneCuentasUsuarioResponse" />
  <xs:complexType name="ObtieneCuentasUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="usuario" type="xs:string" />
      <xs:element minOccurs="0" name="password" type="xs:string" />
      <xs:element minOccurs="0" name="ClaveEvento" type="xs:string" />
      <xs:element minOccurs="0" name="UserTemp" type="xs:string" />
      <xs:element minOccurs="0" name="AppID" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ObtieneCuentasUsuarioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>